<p><pre>
    Please insert plain text either by typing it out or copying and pasting it into the text box below with the following format.
    Note that you may designate a user as an additional instructor for this course, rather than a student, by adding 'Instructor' to the end of the line.
    Julia Kolnicki,kolnicki.3@osu.edu
    Zach Salem,salem.105@osu.edu
    Ben Dollenmeyer,dollenmeyer.1@osu.edu
    Michael Foley,foley.1@osu.edu,Instructor
</pre></p>
<textarea spellcheck="false" rows="10" cols="100" onkeyup="set_text(this)"></textarea>
<br><button onclick="post_students()" data-inline = "true" >Submit</button>

<script>
var data = {
  text: null
};

function set_text(e, i){
    data.text = e.value;
}

async function post_students() {
    const res = await fetch('/students', {method: "POST", body: JSON.stringify(data), headers: {'Content-Type':'application/json'}});
    if (res.ok) {
      window.location.replace("/course?id=<%= $selected_course.id %>");
    } else {
      alert('Student upload failed, please check formatting and try again.')
    }
}
</script>