img{
    width: 50%;
    height: 50%;
    float: left;
    border-style: groove;
    border-radius: 75px;
    border-color: red;
}
h1{
    font-size: 75px;
    font-family:  hiragino kaku gothic pro,sans-serif;
    color: grey;
    font-weight: bold;
}