h1 {
  text-align: center;
}

th {
  text-align: left;
}

caption {
  text-align: left;
}

.table {
  display: flex;
  margin: 50px;
  flex-wrap: wrap;
  min-height: 690px;
  border: 2px solid rgb(121, 66, 32);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  background-color: rgb(121, 66, 32);
}

/* card */
.table > div {
  background-color: #ffffff;
  width: 120px;
  height: 168px;
  margin: 10px;
  border: 4px solid #ffffff;
  border-radius: 5px;
}

.table > div > svg {
  height: 100%;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.message {
  text-align: center;
  font-size: x-large;
  border: 2px solid rgb(15, 167, 76);
  border-radius: 5px;
  max-width: 50%;
  margin: auto;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.flow {
  display: flex;
  margin: 50px;
  flex-direction: column;
}

.hidden {
  display: none;
}

.nav-button {
  text-align: center;
  margin: auto;
  padding: 20px;
}

.message > p, .input {
  margin: 20px;
}

button {
  min-width: 120px;
  min-height: 40px;
  font-size: larger;
}