<p></p>
<style>
  /* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#t01 {
  border: 2px solid #555 !important;
  border-collapse: collapse !important;
  font: 12px "Lucida Grande", "Helvetica", "Arial", sans-serif !important;
}
  </style>

<div onload="loadProblemStudents()">
  <br><pre>    

  <caption> Team Evaluation Results: </caption></pre>
<pre>

</pre>
<table>
  <caption>Please select a student within a team listed above to view the member's scores within the specified team. </caption>

  <tr>

    <td>
    <div class="dropdown">
    <button onclick="dropMenuFunc()" class="dropbtn"> Team 1 </button>
    <div id = "myDropDown" class="dropdown-content">
      <a href="#"> Student 1 </a>
      <a href="#"> Student 2 </a>
      <a href="#"> Student 3 </a>
    </td>

    <td>
    <div class="dropdown">
    <button onclick="dropMenuFunc()" class="dropbtn"> Team 2 </button>
    <div id = "myDropDown" class="dropdown-content">
      <a href="#"> Student 4 </a>
      <a href="#"> Student 5 </a>
      <a href="#"> Student 6 </a>
    </td>

    <td>
    <div class="dropdown">
    <button onclick="dropMenuFunc()" class="dropbtn"> Team 3 </button>
    <div id = "myDropDown" class="dropdown-content">
      <a href="#"> Student 7 </a>
      <a href="#"> Student 8 </a>
      <a href="#"> Student 9 </a>
    </td>

    <td>
    <div class="dropdown">
    <button onclick="dropMenuFunc()" class="dropbtn"> Team 4 </button>
    <div id = "myDropDown" class="dropdown-content">
      <a href="#"> Student 10 </a>
      <a href="#"> Student 11 </a>
      <a href="#"> Student 12 </a>
    </td>

    <td>
    <div class="dropdown">
    <button onclick="dropMenuFunc()" class="dropbtn"> Team 5 </button>
    <div id = "myDropDown" class="dropdown-content">
      <a href="#"> Student 13 </a>
      <a href="#"> Student 14 </a>
      <a href="#"> Student 15 </a>
    </td>

    <td>
    <div class="dropdown">
    <button onclick="dropMenuFunc()" class="dropbtn"> Team 6 </button>
    <div id = "myDropDown" class="dropdown-content">
      <a href="#"> Student 16 </a>
      <a href="#"> Student 17 </a>
      <a href="#"> Student 18 </a>
    </td>

    <!--<td>
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Team 1
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">All members</a>
    <a class="dropdown-item" href="#">Student 1</a>
    <a class="dropdown-item" href="#">Student 2</a>
    <a class="dropdown-item" href="#">Student 3</a>
    </div>
    </div>
    </td>


    <td>
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Team 2
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">All members</a>
    <a class="dropdown-item" href="#">Student 3</a>
    <a class="dropdown-item" href="#">Student 4</a>
    <a class="dropdown-item" href="#">Student 5</a>
    </div>
    </div>
    </td>

    <td>
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Team 3
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">All members</a>
    <a class="dropdown-item" href="#">Student 6</a>
    <a class="dropdown-item" href="#">Student 7</a>
    <a class="dropdown-item" href="#">Student 8</a>
    </div>
    </div>
    </td>
    
    <td>
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Team 4
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">All members</a>
    <a class="dropdown-item" href="#">Student 9</a>
    <a class="dropdown-item" href="#">Student 10</a>
    <a class="dropdown-item" href="#">Student 11</a>
    </div>
    </div>
    </td>

    <td>
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Team 5
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">All members</a>
    <a class="dropdown-item" href="#">Student 12</a>
    <a class="dropdown-item" href="#">Student 13</a>
    <a class="dropdown-item" href="#">Student 14</a>
    </div>
    </div>
    </td>

    <td>
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Team 6
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">All members</a>
    <a class="dropdown-item" href="#">Student 15</a>
    <a class="dropdown-item" href="#">Student 16</a>
    <a class="dropdown-item" href="#">Student 17</a>
    </div>
    </div>
    </td>-->

    
    <td> <pre>              

    </pre>
    </td>

    <td> <pre>              

    </pre>
    </td>

    <td> <pre>              

    </pre>
    </td>

    <td><pre>              

    </pre>
    </td>

    <td>
    <table id="t01">
    <tr>
    <h1 style="font-size:18px;"> Problematic Students are as follows:  <span id="myText"></span></h1> 
    </tr>
    </table>
    </td>
  </tr>

</table>

<br>
    <form> <pre>
    Name: Student 1
    Rating given to self: 5
    Rating given by team members (average): 3
    Comments From Team Members: </pre>
    <!--<input type="text" comments="Comments" size="100">-->
    <ul>
          <ul>
              <li>Comment 1</li>
              <li>Comment 2</li>
              <li>Comment 3</li>
          </ul>
    </ul>
    <!--<input type="text" comments="Comments" size="100">-->
    </form>
<br>

</div>

<script>
var data = [
    {
        name: "zach salem",
        project_name: "Game of Set",
        score_for_self: 5,
        average_score_from_teammates: 2.9,
        comments: [
            "good stuff",
            "very good stuff",
            "great stuff"
        ]
    }
  ]
  
function loadProblemStudents() {
  document.getElementById("myText").innerHTML = data[0].name + ", project name: " + data[0].project_name + ", self score: " + data[0].score_for_self + ", avg score from teammates: " + data[0].average_score_from_teammates + ", comments: " + data[0].comments[0] + ", " + data[0].comments[1] + ", " + data[0].comments[2] + ".";
}

function dropMenuFunc() {
  document.getElementById("myDropDown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i=0; i<dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>