<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Peer Evaluation Tool</title>
</head>
<body>
<div>
  <h1>Peer Evaluation Tool </h1>
</div>

<div>

</div>
<p>Find me in app/views/welcome/index.html.erb.</p>
