<style>
  .flex-container {
    display: flex;
    background-color: white;
  }
  .flex-item {
    background-color: white;
    width: 400px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
  }
</style>

<div class="flex-container">
  <div class="flex-item">  
    <p>Project Name:</p>
      <input type="text" onkeyup="set_project_name(this)"/>
      <p>Due Date (YYYY-MM-DD):</p>
      <input type="text" onkeyup="set_project_date(this)"/>
      <p>Due Time (HH:MM:SS):</p>
      <input type="text" onkeyup="set_project_time(this)"/>
  </div>
  <div class="flex-item"> 
      <% @teams.each_with_index do |team, i| %>
      <p> <%= team[:team_name] %> </p>
      <div class="placeholder"><input type="checkbox" name="motivation_score" value="box" onclick="set_team(<%= team[:team_id] %>, this)"></div>
    <% end %>
  </div>
  <div class="flex-item"> 
      <p>Please, before selecting any teams, fill out the project description form.</p>
      <button onclick="post_project()"> Submit </button>
  </div>
</div>

<script>
var data = {
    project_name: null,
    due_date: null,
    team_ids: []
};

var date = null;
var time = null;

function set_project_name(e){
  data.project_name = e.value;
}

function set_project_date(e){
  date = e.value;
}

function set_project_time(e){
  time = e.value;
}


function set_team(team_id, e){
  if (e.checked) {
    if (!data.team_ids.find(i=>i==team_id)) data.team_ids.push(team_id);
  } else {
    const index = data.team_ids.indexOf(team_id);
    data.team_ids.splice(index, 1);
  }
}

async function post_project() {
  data.due_date = date + 'T' + time;
  const res = await fetch('/projects', {method: "POST", body: JSON.stringify(data), headers: {'Content-Type':'application/json'}});
    if (res.ok) {
      window.location.replace("/course?id=<%= $selected_course.id %>");
    } else {
      alert('Project assignment failed, please check formatting and try again.')
    }
}
</script>