<pre>

</pre>
<table>
  <caption>Please, before selecting any students, type in the name of the team you wish to create: <pre>
  
  
  </pre></caption>
  <tr>
    <td></td>
    <td></td>
    
    <th scope="col"></th>

    <td>
      <p>Team Name:</p>
      <input type="text" onkeyup="set_team_name(this)"/>
    </td>

  </tr>

  <% @students.each_with_index do |student, i| %>
    <tr>
      <th scope="row"><pre> <%= student[:name] %>
    </pre></th>
      <td><div class="placeholder"><input type="checkbox" name="motivation_score" value="box" onclick="set_student(<%= student[:student_id] %>, this)"></div></td>
    </tr>
  <% end %>

</table>
<button onclick="post_team()"> Submit </button>

<script>
var data = {
    team_name: null,
    student_ids: []
};

function set_team_name(e){
  data.team_name = e.value;
}


function set_student(student_id, e){
  if (e.checked) {
    if (!data.student_ids.find(i=>i==student_id)) data.student_ids.push(student_id);
  } else {
    const index = data.student_ids.indexOf(student_id);
    data.student_ids.splice(index, 1);
  }
}

async function post_team() {
  const res = await fetch('/teams', {method: "POST", body: JSON.stringify(data), headers: {'Content-Type':'application/json'}});
    if (res.ok) {
      window.location.replace("/course?id=<%= $selected_course.id %>");
    } else {
      alert('Team creation failed, please check formatting and try again.')
    }
}
</script>