<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Students</title>
</head>
<body>
<div>
  <% @teams.each do |team| %>
    The team's name is <%= team.name %> and the course is  <%= team.course %>.
  <% end %>
</div>
