<style>
  .flex-container {
    display: flex;
    background-color: white;
  }
  .flex-item {
    background-color: white;
    width: 400px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
  }
</style>

<div class="flex-container">
  <div class="flex-item">  
      <% @students.each_with_index do |student, i| %>
        <pre><%= student[:name] %></pre>
        <div class="checkboxoption">
          <input type="checkbox" name="motivation_score" value="box" onclick="set_student(<%= student[:student_id] %>, this)">
        </div>
      <% end %>
  </div>
  <div class="flex-item"> 
    <div class="flex-item">
      <p>Team Name:</p> <input type="text" onkeyup="set_team_name(this)"/> 
    </div>
    <div class="flex-item"> 
      <p>Please type in team name before selecting students.</p> 
      <button onclick="post_team()"><p>Submit</p></button>
    </div> 
  </div>
</div>

<script>
var data = {
    team_name: null,
    student_ids: []
};

function set_team_name(e){
  data.team_name = e.value;
}


function set_student(student_id, e){
  if (e.checked) {
    if (!data.student_ids.find(i=>i==student_id)) data.student_ids.push(student_id);
  } else {
    const index = data.student_ids.indexOf(student_id);
    data.student_ids.splice(index, 1);
  }
}

async function post_team() {
  const res = await fetch('/teams', {method: "POST", body: JSON.stringify(data), headers: {'Content-Type':'application/json'}});
    if (res.ok) {
      window.location.replace("/course?id=<%= $selected_course.id %>");
    } else {
      alert('Team creation failed, please check formatting and try again.')
    }
}
</script>